<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bunnies App</title>
</head>

<body>
    <h1>Welcome to the bunny app!</h1>
    <p>An app for sharing your favorite bunnies.</p>
    <a href="/bunnies">Check out the buns!</a>
</body>

</html>